/* Constant Styles for all 3D Quests */
.Hotspot {
    width: 26px; height: 26px;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
}

.HotspotAnnotation {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    font-weight: 800;
}